.page-forgot-password {
  & .modal-dialog {
    max-width: 370px;
  }
  & .modal-info {
    & p {
      max-width: 232px;
    }
  }
  & .btn-close {
    background-position: center;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
  }
  & .btn-close-x {
    height: 16px;
    position: relative;
    width: 16px;
  }
}
