@import "../../scss/variables";

.modal-dialog {
  max-width: 370px;
  width: 100%;
  & .modal-body {
    padding-bottom: 40px;
    & .modal-info {
      h5 {
        color: map-get($map: $map-primary-colors, $key: "400");
        &.success {
          color: map-get($map: $map-alert-colors, $key: "success");
        }
        &.error {
          color: map-get($map: $map-alert-colors, $key: "error");
        }
      }
      & p {
        max-width: 232px;
      }
    }
    & .button-modal {
      max-width: 208px;
      & .btn {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  .btn-close {
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;
  }
}
.modal-loading {
  height: fit-content;
  width: fit-content;
  & .loading-container {
    width: 275px;
  }
}
