h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 44px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.2px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}
