// variables
$font-inter: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;
$list-alert-colors: "error", "warning", "warning-dark", "success",
  "success-dark", "gradient";
$list-font-weights: 300, 400, 500, 600, 700;
$list-gray-colors: 100, 200, 300, 400, 500, 600, 700;
$list-primary-colors: 50, 100, 200, 300, 400, 500, 600;
$text-dark: #000;
$text-light: #fff;

// variables - maps
$map-primary-colors: (
  "50": #f5f6ff,
  "100": #b4befa,
  "200": #a3aded,
  "300": #7d8efb,
  "400": #5168f4,
  "500": #3e4daa,
  "600": #262f6a,
);
$map-gray-colors: (
  "100": #f0f0f2,
  "200": #d2d2d9,
  "300": #adadb2,
  "400": #939399,
  "500": #606066,
  "600": #494952,
  "700": #161620,
);
$map-alert-colors: (
  "error": #ea005a,
  "warning": #fca232,
  "warning-dark": #eb962f,
  "success": #00eabd,
  "success-dark": #00cca3,
  "gradient":
    linear-gradient(152.21deg, #090d68 21.15%, #ea005a 112.22%, #ffffff 112.22%),
);