// import's
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

// variables
$font-inter: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;
$list-alert-colors: "error", "warning", "warning-dark", "success", "success-dark", "gradient";
$list-font-weights: 300, 400, 500, 600, 700;
$list-gray-colors: 100, 200, 300, 400, 500, 600, 700;
$list-primary-colors: 50, 100, 200, 300, 400, 500, 600;

// variables - maps 
$map-primary-colors: (
  "50": #f5f6ff,
  "100": #b4befa,
  "200": #a3aded,
  "300": #7d8efb,
  "400": #5168f4,
  "500": #3e4daa,
  "600": #262f6a,
);
$map-gray-colors: (
  "100": #f0f0f2,
  "200": #d2d2d9,
  "300": #adadb2,
  "400": #939399,
  "500": #606066,
  "600": #494952,
  "700": #161620,
);
$map-alert-colors: (
  "error": #ea005a,
  "warning": #fca232,
  "warning-dark": #eb962f,
  "success": #00eabd,
  "success-dark": #00cca3,
  "gradient":
    linear-gradient(152.21deg, #090d68 21.15%, #ea005a 112.22%, #ffffff 112.22%),
);

// methods
@each $label in $list-font-weights {
  .fw-#{$label} {
    font-weight: $label;
  }
}
@each $label in $list-primary-colors {
  .bg-primary-#{$label} {
    background-color: map-get($map: $map-primary-colors, $key: #{$label});
  }
  .text-primary-#{$label} {
    color: map-get($map: $map-primary-colors, $key: #{$label});
  }
}
@each $label in $list-gray-colors {
  .bg-gray-#{$label} {
    background-color: map-get($map: $map-gray-colors, $key: #{$label});
  }
  .text-gray-#{$label} {
    color: map-get($map: $map-gray-colors, $key: #{$label});
  }
}
@each $label in $list-alert-colors {
  @if $label == "gradient" {
    .bg-alert-#{$label} {
      background-image: map-get($map: $map-alert-colors, $key: #{$label});
    }
  } @else {
    .bg-alert-#{$label} {
      content: "#{$label}";
      background-color: map-get($map: $map-alert-colors, $key: #{$label});
    }
    .text-label-#{$label} {
      color: map-get($map: $map-alert-colors, $key: #{$label});
    }
  }
}

// class
.body-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  &-semibold {
    font-weight: 600;
  }
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  &-semibold {
    @extend .body-2;
    font-weight: 700;
  }
}

.body-2-md {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.25px;
  line-height: 16px;
  &-semibold {
    @extend .body-2-md;
    font-weight: 600;
  }
}

.caption {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 16px;

  &-regular {
    @extend .caption;
    font-weight: 400;
    letter-spacing: -0.25px;
  }
}

.text-button {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.overline {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  &-2 {
    font-size: 12px;
  }
}

.text-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 16px;
}