@import "../../../scss/variables";

%list-item {
  background-color: #f9f9fa;
  border-radius: 5px;
}

%list-item-2 {
  align-items: center;
  border-radius: 5px;
  color: $text-light;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  gap: 4px;
  padding: 8px 10px;
  width: fit-content;
  & .button-close {
    cursor: pointer;
    opacity: 0.6;
    font-size: 18px;
  }
}

.profile-info-container {
  & .profile-info-header {
    align-items: flex-end;
    border-radius: 8px;
    display: flex;
    height: 350px;
    overflow: hidden;
    position: relative;
  }
  & .profile-info-header-cover {
    border-radius: 8px;
    height: 216px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    & img {
      object-fit: cover;
      width: 100%;
    }
    & .change-cover {
      border-radius: 50%;
      bottom: 16px;
      cursor: pointer;
      height: 48px;
      position: absolute;
      right: 26px;
      width: 48px;
      z-index: 1;
      & > div {
        height: 20px;
      }
    }
  }
  & .profile-user-info {
    margin-left: 88px;
  }
  & .profile-info-image {
    background-color: map-get($map: $map-gray-colors, $key: "200");
    border-radius: 50%;
    border: solid 7px #f9f9fa;
    height: 216px;
    overflow: hidden;
    width: 216px;
  }
}

.change-profile-image {
  border-radius: 50%;
  border: solid 7px #f9f9fa;
  bottom: 0;
  cursor: pointer;
  height: 55px;
  position: absolute;
  right: 0;
  width: 55px;
}

.add {
  height: 24px !important;
  min-width: 0;
  width: 24px !important;
  &.input-add {
    bottom: 8px;
    height: 51px !important;
    position: relative;
    width: 51px !important;
  }
}

.formation-item,
.certificate-item,
.volunteer-item {
  @extend %list-item;
}

.main-profile-info {
  & .nav-profile {
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    &::after {
      background-color: map-get($map: $map-primary-colors, $key: "400");
      bottom: -2px;
      content: "";
      display: block;
      height: 0px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: 0.3s;
      width: 0%;
    }
    &.active {
      background-color: #ebedfa;
      &::after {
        height: 2px;
        width: 100%;
      }
    }
  }
  & .button-gray {
    & .button-info {
      display: block;
      font-size: 14px;
      font-weight: 500;
    }
  }
  & .information-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(22, 22, 32, 0.15),
      0px 0px 2px rgba(22, 22, 32, 0.12), 0px 0px 1px rgba(22, 22, 32, 0.04);
    padding: 24px 32px;
  }
  & .personal-information {
    & .first-line {
      & .first-field {
        & label {
          width: 180px !important;
        }
        & span {
          & label {
            width: 162px !important;
            input {
              padding-right: 24px !important;
            }
          }
        }
      }
      & .third-field {
        label {
          &:nth-child(2) {
            width: 220px !important;
          }
        }
      }
      & .modal-textarea {
        height: 260px;
        resize: none;
      }
    }
    & .second-line {
      & .bank-account {
        & label {
          width: 240px !important;
        }
      }
      & .first-field {
        & label:first-child {
          width: 250px !important;
        }
        & label:last-child {
          width: 95px !important;
        }
      }
      & .second-field {
        & label:last-child {
          width: 150px !important;
        }
      }
      & .third-field {
        & label:first-child {
          width: 250px !important;
        }
      }
    }
  }
  & .professional {
    & .second-field {
      & .specialty-item {
        @extend %list-item-2;
      }
    }
    & #academic-formation {
      & .modal-dialog {
        max-width: 600px;
        & .modal-content {
          padding: 32px !important;
          & .modal-header {
            & .btn-close {
              background-size: 12px;
            }
          }
          & .modal-body {
            fieldset > div {
              width: 100%;
            }
          }
        }
      }
    }
  }
  & .Geral {
    .material-icons {
      cursor: pointer;
    }
    & .interests-item {
      @extend %list-item-2;
    }
    & .languages-item {
      padding: 20px 24px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      &:not(.languages-item-header) {
        @extend %list-item;
      }
      &.languages-item-header {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  & .page-profile-Password {
  }
}

#modal-profile-image {
  .modal-dialog {
    max-width: 600px;
  }
  & .modal-body {
    & .user-image {
      border-radius: 50%;
      cursor: pointer;
      height: 175px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 175px;
      &:hover {
        &::after {
          opacity: 0.5;
        }
        &::before {
          opacity: 0.8;
        }
      }
      &::after {
        background-color: #161620;
        content: "";
        display: block;
        height: 175px;
        left: 0;
        opacity: 0.3;
        position: absolute;
        top: 0;
        transition: 0.3s;
        width: 175px;
      }
      &::before {
        content: url("./images/camera-plus.svg");
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
        z-index: 1;
      }
    }
  }
  & .button-cancel {
    background-color: transparent;
    &:active {
      background-color: transparent !important;
    }
    span {
      color: #ea005a;
    }
  }
}
#modal-profile-cover {
  .modal-dialog {
    max-width: 840px;
  }
  & .user-image{
    margin: auto;
    width: 775px;
  }
  & .button-cancel {
    background-color: transparent;
    &:active {
      background-color: transparent !important;
    }
    span {
      color: #ea005a;
    }
  }
}
